#map {
  width: 100% !important;
  height: 600px !important;
  display: block;
}
.overlay {
  color: black;
  background: rgba(255, 163, 163, 0.5);
  padding: 3px;
  border-radius: 2px;
  font-weight: 400;
  font-size: 12px;
}

button.add-new {
  margin: 10px auto;
  display: block;
}
.orders {
  margin: 10px 0 10px -15px;
}
.order {
  background: aliceblue;
  float: left;
  margin: 1px;
  padding: 10px;
  width: 210px;
}
.order textarea {
  width: 100% !important;
  min-height: 174px;
}
.order.editing {
  width: 100%;
}
