
.orders {
  margin: 10px 0 10px -15px;
}
.order {
  background: aliceblue;
  float: left;
  margin: 1px;
  padding: 10px;
  max-width: 210px;

  textarea {
    width: 100% !important;
    min-height: 174px;
  }

  &.editing {
    width: 100%;
  }
}
